!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dump
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = stylesheet_link_tag 'https://unpkg.com/simpledotcss/simple.min.css'
  %body
    %header
      %nav
        = link_to 'Home', root_path
        = link_to 'Speedtests', speedtests_path
    = yield
    %footer
      = link_to 'Home', root_path
